FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "i_clk" SITE "P6";
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "i_nrst" SITE "R7";
IOBUF PORT "i_nrst" IO_TYPE=LVCMOS33;

LOCATE COMP "o_tx" SITE "D4";
IOBUF PORT "o_tx" IO_TYPE=LVCMOS33;

