FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "i_clk" SITE "P6";
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "i_nrst" SITE "R7";
IOBUF PORT "i_nrst" IO_TYPE=LVCMOS33;

LOCATE COMP "o_violet_tx" SITE "D4";
IOBUF PORT "o_violet_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "i_violet_rx" SITE "C4";
IOBUF PORT "i_violet_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "o_uart_tx" SITE "E4";
IOBUF PORT "o_uart_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "i_uart_rx" SITE "D3";
IOBUF PORT "i_uart_rx" IO_TYPE=LVCMOS33;
